.signup-form-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
}
